
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

* {
  user-select: none;
}

body {
  margin: 0px;
  /*background-color: black;*/
  width: 100vw;
  height: 100vh;
  font-family: "Lexend-SemiBold";
  color: #ffffff;
}

canvas {
  display: block;
  margin: 0px;
}

.overlay {
  display: flex;
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.top-bar {
  width: 95%;
  height: 58px;
  background: #20202090;
  border-radius: 10px;
  margin-top: 10px;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heatmap {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.heatmap .bar {
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, rgba(0, 0, 255, 1) 0%, rgba(0, 255, 255, 1) 25%, rgba(0, 180, 0, 1) 50%, rgba(255, 255, 0, 1) 75%, rgba(255, 0, 0, 1) 100%);
  border: 1px solid #ffffff;
}

.heatmap .arrow {
  transition: left 0.3s;
  transition-timing-function: ease-in-out;
  position: relative;
  left: 0%;
}

.bottom-bar {
  position: absolute;
  width: 100%;
  height: 80px;
  background: #20202090;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.stop-button {
  background: #0d50a2!important;
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 80px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  transition: 0.1s background;
  width: 100%;
  max-width: 600px;
}

.new-line-button {
  background: rgb(13, 102, 185);
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 90px;
  border: 2px solid #9ac9ff;
  border-radius: 10px;
  transition: 0.1s background;
  animation: newlineAnimation 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s 1 both;
}

.new-data-button {
  background: rgb(3, 116, 209);
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 80px;
  border-radius: 10px;
  border: 2px solid #11dceb;
  transition: 0.1s background;
}

.new-data-button:active {
  transform: scale(0.9);
}

@keyframes newlineAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.button-icon {
  margin-right: 10px;
}

.new-line-button:active {
  background: rgb(50, 134, 212);
}

.stop-button:active {
  background: #2d71c5;
}

.popup-overlay {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0px;
  z-index: 20;
  background-color: #00000000;
  backdrop-filter: sepia(1);
  animation: fadeIn 3s ease-in-out 0.1s 1 both;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    background-color: #00000000;
    backdrop-filter: sepia(0);
  }
  100% {
    background-color: #000000aa;
    backdrop-filter: sepia(1);
  }
}

.popup {
  width: 80%;
  height: 60%;
  background: #000000;
  border-radius: 10px;
  max-height: 500px;
  max-width: 400px;
  border: 1px solid #222222;
  overflow: hidden;
  animation: slideFromBottom 0.4s ease-in-out 0.2s 1 both;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.popup .title-bar {
  width: 100%;
  height: 50px;
  background: #202020;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 300;
  font-size: 18px;
}

.title-bar .close {
  margin-left: 10px;
  margin-right: 10px;
  width: 19px;
  height: 19px;
  background: #f1f1f1;
  padding: 8px;
  border-radius: 50%;
  filter: invert(1);
}

.overview-canvas {
  border: 1px solid #ffffff50;
  opacity: 0;
  transition: 1s opacity;
  will-change: opacity;
  transition-delay: 0.5s;
  border-radius: 10px;
}

.popup-buttons {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.popup-button {
  width: 40%;
  height: 50px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  font-weight: 400;
  gap: 8px;
}

.popup-button.save {
  background-color: #42c453;
}

.popup-button.exit {
  background-color: #1c1c1c;
  font-weight: 300;
}

.popup-button img {
  width: 20px;
}

.popup-button:active {
  filter: brightness(0.8);
}

.compass-container {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 75px;
  right: 10px;
  display: flex; 
}


.compass-container .compass {
  width: 80px;
  height: 80px;
  background: #00000090;
  border-radius: 10px;
}

#compass-indicator {
  transform-origin: center;
  transform: rotate(0deg);
  transition: transform 0.3s;
}
.stop-button img.button-icon {
  height: 20px;
  width: 20px;
  object-fit: contain;
}
.back-button {
  background: #1a1a1a;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 14px;
  border-radius: 8px;
  position: absolute;
  left: 10px;
  top: 10px;
  gap: 10px;
}

.back-button img {
  height: 20px;
}